<h1>Score Index</h1>
<p>Rankings based purely on game scores.</p>
<p>A team's <strong>base score</strong> is how well they played in each game.</p>
<p>A team's <strong>adjusted score</strong> is how well they played in each game, adjusted for the quality of opponent.</p>
<small>Source: <a href="https://github.com/jondejong/score-index">https://github.com/jondejong/score-index</a></small>
<br/>
<br/>
<div>
    <strong>Select a Sport:</strong>
    <ul>
        <li><a href="/home/ncaam">NCAA Men</a></li>
        <li><a href="/home/nfl">NFL</a></li>
    </ul>
</div>

<ui-view></ui-view>